<router-outlet>

  <div style="padding: 1em">

    <h4>Select unit</h4>
    <form (change)="selectLengthUnit($event)">
      <div *ngFor="let unit of lengthUnitSystem | keyvalue">
        <input type="radio" name="unit" [id]="unit.key" [value]="unit.key" [checked]="!unit.value.converters">
        <label [for]="unit.key">{{unit.value.title}}</label>
      </div>
    </form>

    <p>This input has a form control with "formUnitConverter" directive</p>
    <input
      type="number"
      [formControl]="lengthForm"
      [appFormUnitConverter]="lengthUnitSystem"
      [unitName]="selectedLengthUnit.value"
    >

    <h3>
      The form's "real" value stays always with standard unit:<br>
      <span style="color: darkred">{{lengthForm.value ?? 'undefined'}}</span>
    </h3>

    <h3>
      The value to show through the unit pipe:<br>
      <span style="color: darkgreen">{{lengthForm.value | lengthUnit : selectedLengthUnit.value}}</span>
    </h3>

  </div>

  <div style="padding: 1em">

    <h4>Select unit</h4>
    <form (change)="selectProjUnit($event)">
      <div *ngFor="let unit of projectionUnitSystem | keyvalue">
        <input type="radio" name="unit" [id]="unit.key" [value]="unit.key" [checked]="!unit.value.converters">
        <label [for]="unit.key">{{unit.value.title}}</label>
      </div>
    </form>

    <p>This input has a form control with "formUnitConverter" directive</p>
    <div
      [formGroup]="coordsForm"
      [appFormUnitConverter]="projectionUnitSystem"
      [unitName]="selectedProjUnit.value"
    >
      <input type="number" formControlName="lat" placeholder="latitude" style="margin-inline-end: 1em">
      <input type="number" formControlName="lng" placeholder="longitude">
    </div>

    <h3>
      The form's "real" value stays always with standard unit:<br>
      <span style="color: darkred">{{coordsForm.value | json}}</span>
    </h3>

    <h3>
      The value to show through the unit pipe:<br>
      <span style="color: darkgreen">{{coordsForm.value | projUnit : selectedProjUnit.value}}</span>
    </h3>

  </div>

</router-outlet>
