<router-outlet>

  <div style="padding: 1em">

    <h4>Select unit</h4>
    <form (change)="selectUnit($event)">
      <div *ngFor="let unit of lengthUnitSystem | keyvalue">
        <input type="radio" name="unit" [id]="unit.key" [value]="unit.key" [checked]="!unit.value.converters">
        <label [for]="unit.key">{{unit.value.title}}</label>
      </div>
    </form>

    <p>This input has a form control with "formUnitConverter" directive</p>
    <input
      type="number"
      [formControl]="form"
      [appFormUnitConverter]="lengthUnitSystem"
      [unitName]="selectedUnit.value"
    >

    <h3>
      The form's "real" value stays always with standard unit:<br>
      <span style="color: darkred">{{form.value ?? 'undefined'}}</span>
    </h3>

    <h3>
      The value to show through the unit pipe:<br>
      <span style="color: darkgreen">{{form.value | lengthUnit : selectedUnit.value}}</span>
    </h3>

  </div>


</router-outlet>
